@charset "utf-8";
@use "sass:map";
@import url("https://cdn.jsdelivr.net/npm/destyle.css@1.0.15/destyle.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet");
/*
font-family: "Inter", sans-serif;
font-family: "Montserrat", sans-serif;
font-family: "Noto Sans JP", sans-serif;
*/
$breakpoints: (
  mmxxs: 'max-width: 375px',
  mmxs: 'max-width: 480px',
  mms: 'max-width: 568px',
  mm: 'max-width: 820px',
  mml: 'max-width: 1024px',
  mmxl: 'max-width: 1180px',
  mmxxl: 'max-width: 1366px',
  pcs: 'max-width: 1400px',
  pc: 'max-width: 1600px',
  pc_hover: '(hover: hover) and (pointer: fine)'
);

@mixin media-breakpoint($breakpoint-name) {
  // マップからブレークポイントの値を取得
  $breakpoint-value: map.get($breakpoints, $breakpoint-name);

  // 指定されたブレークポイント名が存在するかチェック
  @if ($breakpoint-value) {
    // 取得した値をそのままメディアクエリの条件部分として使う
    @media only screen and (#{$breakpoint-value}) {
      @content;
    }
  } @else {
    // 存在しないブレークポイント名が指定された場合はエラー
    @error "`#{$breakpoint-name}` というブレークポイントは `$breakpoints` マップに存在しません。";
  }
}

$bg1: #18181d;
$bg2: #999;
$border1: 1px solid #27272c;
$color_white1: #fff;
$color_white2: #eee;
$color_gray1: #54545c;

html,
body {
  font-family: "Noto Sans JP", sans-serif;

  background-color: $bg1;
}

main {
  opacity: 1;
  transition: opacity .6s .4s;
}

* {
  color: $color_white1;
  text-decoration: none;
  scroll-behavior: auto;
}



// Lenis
html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}



/**
 * .gutter--01
 */
.gutter--01 {
  display: flex;
  justify-content: center;
  padding: 0 5vw;
  width: 100%;
}



/**
 * #contents
 */
#contents {
  border-top: $border1;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  overflow: hidden;
  position: relative;
  z-index: 1;

  &::before {
    border-left: $border1;
    content: "";
    height: 100%;
    left: 50%;
    position: absolute;
    top: 0;
    z-index: 1;
  }

  & > section {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    min-height: 50vh;
    justify-content: center;
    padding: 5vw clamp(8.125rem, -9.5833rem + 17.7083vw, 18.75rem);
    padding: 5vw;
    width: 50%;

    &[style=#{'"width: 40%;"'}] {
      z-index: -1;
    }
  }

  .section--01 {
    background-color: $bg1;
    position: relative;
    z-index: 2;

    &:before {
      border-bottom: $border1;
      bottom: 0;
      content: "";
      position: absolute;
      right: -100%;
      width: 400%;
      left: -100%;
    }

    .section-contents {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      width: 100%;
    }
  }
}

@media screen and (max-width: 1400px) {

  #contents {
    & > section {
      &[style=#{'"width: 40%;"'}] {
        width: 50%;
      }

      &[style=#{'"width: 75%;"'}] {
        width: 100%;
      }
    }
  }
}



/**
 * .section--00
 */

.section--00 {
  background-color: #24242b;
  height: 100vh;
  margin: 0 0 200px;
  position: relative;
  z-index: 1;

  .section-header {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    .section-title {
      font-family: "Montserrat", sans-serif;
      font-size: 48px;
      font-weight: 700;
      letter-spacing: 0.1rem;
      line-height: 1.2;
      text-align: center;
      text-transform: uppercase;
    }
  }

  .section-contents {
    align-items: flex-end;
    display: flex;
    height: 100%;
    justify-content: center;
    position: relative;
    z-index: 1;

    .section-scroll {
      font-family: "Montserrat", sans-serif;
      font-size: 32px;
      font-weight: 700;
      letter-spacing: 0.02rem;
      line-height: 1;
      text-align: center;
      text-transform: uppercase;

      background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9IiNmZmZmZmYiIHdpZHRoPSI4MDBweCIgaGVpZ2h0PSI4MDBweCIgdmlld0JveD0iMCAwIDI0IDI0IiBpZD0iZG93bi1hcnJvdyIgZGF0YS1uYW1lPSJGbGF0IExpbmUiIGNsYXNzPSJpY29uIGZsYXQtbGluZSI+PGxpbmUgaWQ9InByaW1hcnkiIHgxPSIxMiIgeTE9IjMiIHgyPSIxMiIgeTI9IjIxIiBzdHlsZT0iZmlsbDogbm9uZTsgc3Ryb2tlOiAjZmZmZmZmOyBzdHJva2UtbGluZWNhcDogcm91bmQ7IHN0cm9rZS1saW5lam9pbjogcm91bmQ7IHN0cm9rZS13aWR0aDogMjsiLz48cG9seWxpbmUgaWQ9InByaW1hcnktMiIgZGF0YS1uYW1lPSJwcmltYXJ5IiBwb2ludHM9IjkgMTggMTIgMjEgMTUgMTgiIHN0eWxlPSJmaWxsOiBub25lOyBzdHJva2U6ICNmZmZmZmY7IHN0cm9rZS1saW5lY2FwOiByb3VuZDsgc3Ryb2tlLWxpbmVqb2luOiByb3VuZDsgc3Ryb2tlLXdpZHRoOiAyOyIvPjwvc3ZnPg==");
      background-position: right center;
      background-repeat: no-repeat;
      background-size: auto 28px;
      padding: 120px 32px;
    }
  }

  #contents > & {
    width: 100%;
  }
}

@media (max-width: 800px) and (max-height: 400px) {
  
  .section--00 .section-scroll {
    display: none;
  }
}



/**
 * .button--01
 */
.button--01 {
  $fs: 14px;
  $bg: #f1f1f1;
  $bg_hv: #00fff2;
  $tc: #333;
  $height: 50px;
  $tr: 0.4s;

  .button-anchor {
    font-family: "Montserrat", sans-serif;

    display: flex;
    height: $height;
    
    & > .button-inner {
      display: flex;
      position: relative;
      z-index: 1;

      &::before {
        background-color: $bg;
        border-radius: $height;
        content: "";
        height: $height;
        position: absolute;
        right: 0;
        top: 0;
        width: $height;
        z-index: 1;
      }

      &::after {
        background-color: $bg;
        border-radius: $height;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: calc(100% - #{$height});
        z-index: 1;
      }

      span {
        position: relative;
        z-index: 2;

        &:nth-child(1) {
          color: $tc;
          font-size: $fs;
          letter-spacing: 0.06rem;
          line-height: 1;
          text-transform: uppercase;

          align-items: center;
          border-radius: $height;
          display: flex;
          justify-content: center;
          width: 200px;
        }

        &:nth-child(2) {
          color: $tc;
          font-size: 14px;
          line-height: 1;

          align-items: center;
          border-radius: 100%;
          display: flex;
          height: $height;
          justify-content: center;
          width: $height;
        }
      }
    }
  }

  // マウスオーバー
  .button-anchor {
    & > .button-inner {
      &::before {
        transition: background-color $tr;
      }

      &::after {
        transition: background-color $tr, width $tr;
      }

      span {
        &:nth-child(1) {
          transition: transform $tr;
        }
      }
    }
  }

  @include media-breakpoint(pc_hover) {
    .button-anchor:hover {
      & > .button-inner {
        &::before {
          background-color: $bg_hv;
        }

        &::after {
          background-color: $bg_hv;
          width: 100%;
        }

        span {
          &:nth-child(1) {
            transform: translate(calc(#{$height} / 2), 0);
          }
        }
      }
    }
  }
}



/**
 * .button--02
 */
.button--02 {
  a {
    color: #fff;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.04rem;
    text-transform: uppercase;

    display: flex;
    justify-content: space-between;
    padding: 20px 28px;
    position: relative;
    width: 240px;
    z-index: 1;

    &:before {
      background-color: #2e63ff;
      content: "";
      height: 100%;
      left: 50%;
      position: absolute;
      top: 50%;
      width: 100%;
      z-index: -1;

      transform: translate(-50%, -50%);
      transition: background-color .4s, transform .4s;
    }

    & > span:first-child {
      display: block;
      height: 20px;
      overflow: hidden;

      span {
        display: block;

        transform: translateY(0);
        transition: transform .4s;
      }
    }

    & > span:last-child {
      display: flex;
      height: 20px;
      margin: 0px -10px 0 0;
      overflow: hidden;
      position: relative;
      width: 20px;
      z-index: 1;

      &:before,
      &:after {
        background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODAwcHgiIGhlaWdodD0iODAwcHgiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNNCAxMkgyME0yMCAxMkwxNiA4TTIwIDEyTDE2IDE2IiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+PC9zdmc+");
        background-position: center right;
        background-repeat: no-repeat;
        background-size: 20px;
        content: "";
        display: block;
        flex-shrink: 0;
        height: 20px;
        transform: translateX(-20px);
        transition: transform .4s;
        width: 20px;
      }
    }

    &:hover {
      &:before {
        background-color: #304da5;
        transform: translate(-50%, -50%) scale(1.1);
      }

      & > span:first-child {
        & span {
          transform: translateY(-20px);
        }
      }

      & > span:last-child {
        &:before,
        &:after {
          transform: translateX(0);
        }
      }
    }
  }

  @include media-breakpoint(mml) {
    bottom: 0;
    justify-content: flex-end;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
  }
}